@font-face {
  font-family: "skoda_bold";
  src: url("/fonts/SKODANext-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "skoda_regular";
  src: url("/fonts/SKODANext-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "skoda_regular", sans-serif;
}

.bg-image {
  background-image: url(/images/O_bty190_BG_REF_12x6_v3.1001.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
